# --- Unity Folders ---
/[Ll]ibrary/
/[Tt]emp/
/[Obj]/
/[Build]/
/[Logs]/
/[UserSettings]/

# --- VS Code & IDEs ---
.vscode/*
!.vscode/extensions.json
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.userprefs

# --- Python & ML-Agents ---
__pycache__/
*.pyc
venv/
.venv/
# We keep the results folder for the .onnx files, 
# but ignore the massive raw data logs
/[Rr]esults/*/run_logs/

# --- OS Specific ---
.DS_Store
Thumbs.db